@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --vibrant-azure: #346AFF;
    --custom-border: 5px solid #000;
    --main-div-border-radius: 30px;
    --card-color: rgb(234, 245, 245);
    --background-color: rgb(148, 192, 230)
}


/*  GLOBAL STYLING */
body {
    font-family: -apple-system, Robotico, Arial, sans-serif;
    margin: 20px;
    background-color: var(--background-color);
    text-align: center;
}

/*  BUTTON STYLING */
button {
    padding: 10px 20px;
    cursor: pointer;
}

/*  HEADINGS */
h1 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: blue;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 300%;
}

#title-top {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 350%;
    margin-top: -10px;
}

#title-bottom {
    font-family: "Orbitron", sans-serif;
    font-size: 250%;
    margin-top: -15px;
}