@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --vibrant-azure: #346AFF;
    --custom-border: 5px solid #000;
    --main-div-border-radius: 30px;
}

/*  GLOBAL STYLING */
body {
    font-family: -apple-system, Robotico, Arial, sans-serif;
    margin: 20px;
    background-color: rgb(148, 192, 230);
    text-align: center;
}

/*  BUTTON STYLING */
button {
    padding: 10px 20px;
    cursor: pointer;
}

/*  HEADINGS */
h1 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: blue;
}

#title-top {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 400%;
    margin-top: -10px;
}

#title-bottom {
    font-family: "Orbitron", sans-serif;
    font-size: 300%;
    margin-top: -15px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 300%;
}

/*  CONTAINER HIERARCHY */
.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
    position: relative;
}

/*  ANIMATE BORDER */
.content-container {
    background-color: var(--vibrant-azure);
    width: 90vw;
    border-radius: var(--main-div-border-radius); 
    outline: none;
    position: relative;
}

.content-container::before {
    filter: blur(10px);
    opacity: 0.5;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.content-container::after, .content-container::before {
    content: ''; /* render pseudo element */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: calc(var(--main-div-border-radius) + 7px);
    background-image: conic-gradient(from var(--angle), blue, rgb(160, 2, 251), blue, rgb(160, 2, 251), blue);    
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from { --angle: 0deg; }
    to { --angle: -360deg; }
}

/*  SEARCH CONTAINER */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 1rem;
}

#search-bar { 
    width: 40%;
    max-width: 500px; 
    height: 5vh; 
    text-align: center;
    font-size: 3vh;
    background-color: gainsboro;
    border: var(--custom-border);
    border-radius: 25px; 
    outline: none; 
    padding: 0 15px; 
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; 
}

#search-bar::placeholder {
    color: #aaa; 
    font-style: italic; 
}

#search-bar:hover {
    border-color: #000000;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.6);
}

#search-bar:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #f9f9f9; 
}

/*  DISPLAY TEAMS */
.grid-container {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(5, 1fr);
    height: 28vh;
    overflow-y: scroll;
    width: 90%;
    background-color: #e3e4f0;
    border: var(--custom-border);
    outline: none; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none; 
    font-size: 0.9rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.grid-item img {
    max-width: 40px;
    max-height: 40px;
    margin-bottom:7px;
}

.grid-item:hover {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 105%;
    font-weight: bold; 
}

/*  TEAM SELECTION DISPLAY */
.outcome-container {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.teams-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.icon.team-image {
    height: 20vh;
    width: auto;
    transform-origin: center;
    transition: transform 1s ease;
}

.icon.team-image.grow {
    animation: grow 1s ease forwards;
}

.team-name {
    font-weight: 500;
    font-size: clamp(1rem, 5vh, 2rem);
    margin: 0.75rem 0;;
}

.team-name.grow {
    animation: grow 1s ease forwards;
}

/*  ACTION BUTTONS */
#action-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btns {
    font-size: 150%;
    border: var(--custom-border);
    border-radius: 25px;
    outline: none;
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 10px 0;
    width: clamp(16rem, 20vw, 20vw);
    height: clamp(4rem, 8vh, 10vh);
    font-size: clamp(1rem, 4vh, 2rem);
}

.action-btns:hover {
    border-color: #000000; 
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5); 
}
