@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(148, 192, 230);
    align-items: center;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

h1 {
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

#title-top {
    color: blue;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 500%;
}

#title-bottom {
    color: blue;
    font-family: "Orbitron", sans-serif;
    font-size: 400%;
    font-optical-sizing: auto;
    margin-top: -2vh; /* Adjust this value to control spacing */
}

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgb(148, 192, 230); /* Transparent background */
    color: white;
    font-family: Arial, sans-serif;
}

#loading-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
    animation: cycleMessages 6s infinite;
}

#loading-animation {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 2s linear infinite;
}

/* Animation for the spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation for the cycling messages */
@keyframes cycleMessages {
    0% {
        content: "Initializing...";
    }
    33% {
        content: "Loading assets...";
    }
    66% {
        content: "Preparing data...";
    }
    100% {
        content: "Almost done...";
    }
}

.content-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.team-count-container {
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-count-container  img {
    width: 90%;
    height: auto;
}




.all-positions-container { 
    margin: 1rem;
}

.position-container {
    display: flex;
    justify-content: center;
}


.fifa-card {
    width: 200px;
    height: 250px;
    background-color:rgb(234, 245, 245);
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 5px 20px;
}

.player-image {
    padding: 5%;
    padding-bottom: 0;
    height: 60%;
    width: auto;
    object-fit: cover;
}

.team-badge-wrapper {
    flex: 1; /* Allocate remaining space for the image */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow if the image is larger than the container */
    padding: 4px;
}

.team-badge-wrapper img {
    width: auto; /* Maintain aspect ratio */
    height: 100%; /* Scale height to fit container */
    object-fit: contain; /* Ensure the entire image fits within the container */
}

.card-separator {
    width: 100%;
    height: 2px;
    background-color: #000;
    /* margin: 5px 0; */
  }

  .player-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 10px 0;
  }