<!DOCTYPE html>
<html>
<head>
    <title>COMBINED XI BUILDER
    </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>COMBINED XI BUILDER</h1>
    <button id="fetch-data">Generate</button>
    <input type="text" id="search-bar" placeholder="Type to search..." />
    <ul id="results"></ul>
    <ul id="data-list"></ul>
    
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
