<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Viewer</title>
    <link rel="stylesheet" href="/static/team_viewer.css">

</head>
<body>
    <div id="loading-page">
        <h1 id="title-top">COMBINED XI </h1>
        <h1 id="title-bottom">BUILDER</h1>
        <div class="content-container">
            <h1>LOADING</h1>
            <p id="loading-message">Initializing...</p>
            <div id="loading-animation"></div>
        </div>
    </div>
    
    <div id="content-container">
        <h1 id="title-top">COMBINED XI </h1>
        <h1 id="title-bottom">BUILDER</h1>
        <div id="select-container"></div>
        <div class="main-container">
            <div class="team-count-container">
                <h2>Team 1:</h2>
                <h3>{{ team1_name }}</h3>
                <img id="team1-counter-img" src="../static/assets/soccer-ball.png" alt="">
            </div>
            <div class="all-positions-container">
                <div class="position-container" id="for-container">
                    <div id="lw-container">
                        <button class="select-for-btn" id="select-lw-btn">Select LW</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-lw-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-lw">Player Name</p>
                            <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-lw-img">
                            </div>
                        </div>
                    </div>
                    <div id="st-container">
                        <button class="select-for-btn" id="select-st-btn">Select ST</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-st-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-st">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-st-img">
                            </div>
                        </div>
                    </div>
                    <div id="rw-container">
                        <button class="select-for-btn" id="select-rw-btn">Select RW</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-rw-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-rw">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-rw-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-container" id="mid-container">
                    <div id="cdm-container">
                        <button class="select-mid-btn" id="select-cdm-btn">Select CDM</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-cdm-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-cdm">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-cdm-img">
                            </div>
                        </div>
                    </div>
                    <div id="cm-container">
                        <button class="select-mid-btn" id="select-cm-btn">Select CM</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-cm-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-cm">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-cm-img">
                            </div>
                        </div>
                    </div>
                    <div id="cam-container">
                        <button class="select-mid-btn" id="select-cam-btn">Select CAM</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-cam-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-cam">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-cam-img">
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="position-container", id="def-container">
                    <div id="lb-container">
                        <button class="select-def-btn" id="select-lb-btn">Select LB</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-lb-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-lb">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-lb-img">
                            </div>
                        </div>
                    </div>   
                    <div id="cb1-container">
                        <button class="select-def-btn" id="select-cb1-btn">Select CB</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-cb1-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-cb1">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-cb1-img">
                            </div>
                        </div>
                    </div>   
                    <div id="cb2-container">
                        <button class="select-def-btn" id="select-cb2-btn">Select CB</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-cb2-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-cb2">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-cb2-img">
                            </div>
                        </div>
                    </div>   
                    <div id="rb-container">
                        <button class="select-def-btn" id="select-rb-btn">Select RB</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-rb-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-rb">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-rb-img">
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="position-container">
                    <div id="gk-container">
                        <button class="select-gk-btn" id="select-gk-btn">Select GK</button>
                        <div class="fifa-card">
                            <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-image" id="selected-gk-img">
                            <div class="card-separator"></div>
                            <p class="player-name" id="selected-gk">Player Name</p>
                             <div class="team-badge-wrapper">
                                <img src="../static/assets/soccer-ball.png" alt="Player Image" class="player-team-image" id="team-selected-gk-img">
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="team-count-container">
                <h2>Team 2:</h2>
                <h3>{{ team2_name }}</h3>
                <img id="team2-counter-img" src="../static/assets/soccer-ball.png" alt="">
            </div>        
        </div>
    </div>   
    <script src="{{ url_for('static', filename='team_viewer.js') }}"></script>
</body>

</html>